.benefits-section{
    position: relative;
    background: url('../img/bg/about-pattern.jpg') left top 57% no-repeat;

    &::before{
        content: url('../img/bg/about-raspberries.png');
        position: absolute;
        bottom: rem(-110px);
        left: 0;

        @include phones {
            display: none;
        }
    }

    @include tablets{
        background-position: left top 10%;
    }

    @include phones{
        background: none;
    }
}