.hero{
    background: url('../img/1scr_bg.png') right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    position: relative;

    &::before{
        position: absolute;
        bottom: -50px;
        left: 2%;
        content: url('../img/bg/video-left-leaf.png');
    }

    &::after{
        content: url('../img/bg/right-leaves-and-berry.png');
        position: absolute;
        bottom: -50px;
        right: 0;
    }
}

.hero__title-section{
    width: 46%;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px 0;
    background: url('../img/bg/chocolates.png') right center / 50% auto no-repeat; // 50% по ширине и auto по высоте
}

.hero__main-title{
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.hero__title-desc{
    font-size: 21px;
    margin-bottom: 40px;
    padding-right: 10%;
}