.order-section{
    position: relative;
    background: url('../img/bg/form-pattern.png') center center / cover no-repeat;

    &::before{
        content: url('../img/bg/form-berries.png');
        position: absolute;
        left: rem(15px);
        bottom: rem(50px);  
        
        @include phones{
            display: none;
        }
    }

    &::after{
        content: url('../img/bg/form-leaf.png');
        position: absolute;
        right: rem(10px);
        bottom: rem(50px);

        @include phones{
            display: none;
        }
    }
}